$text-black: #333333;
$text-grey-deep: #666666;
$text-grey: #999999;
$text-green-grey: #b9d4bb;
$text-green: #18c050;
$text-white: #ffffff;

$common-green-deep: #08bc44;
$common-grey-light: #edf5ec;
$common-green-ligth: #8fffb4;
